{% extends "admin/adminbase.html.twig" %}
{% block title %}
    Export file
{% endblock %}
{% block body %}
{#    {% if publishes is defined %}#}
        <h3>Publikacje: </h3>
        <table style="border: 1px #000000 solid; border-collapse: collapse">
            <thead>
            <tr>
                {% for column in columns %}
                    <th style="border: 1px #000000 solid; border-collapse: collapse">{{ column }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for items in publishes %}
                {% for publish in items %}
                    <tr style="height: auto">
                        {% for field in publish %}
                            <td style="border: 1px #000000 solid; border-collapse: collapse">{{ field }}</td>
                        {% endfor %}
                        {% if creators[publish['id']] is defined %}
                            {% for creator in creators[publish['id']] %}
                                <td style="border: 1px #000000 solid; border-collapse: collapse">
                                {% for field in creator %}
                                    {{ field }} <br />
                                {% endfor %}
                                </td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}

            </tbody>
        </table>
{#    {% endif %}#}
{% endblock %}
