{% extends 'main/base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}


    <div class="container-fluid">
        <div class="row no-gutters justify-content-center mt-5">
            <div class="col-12 col-lg-6 col-md-6">
                <h1 class="display-4 text-center">
                    {{ title }}
                </h1>
            </div>
        </div>
    </div>

    {{ form(form) }}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h1 class="display-4 text-center mt-5">
                    <h2 class="col-12 mb-5"> Wszystkie publikacje:</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>Tytul</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                        <tr>
                            <td>{{ post.title }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </form>
                </h1>
            </div>
        </div>
    </div>

{% endblock %}